    <nav class="ui-g-12">
      <h1 class="ui-g-12 ui-lg-6">The Red Planet Rovers</h1>
      <ul class="menu-container ui-g-12 ui-lg-6">
        <li class="menu-button ui-lg-4 u-g-12">
          <a [routerLink]=" ['./home'] ">
            Image of the Day
          </a>
        </li>
        <li class="menu-button ui-lg-4 u-g-12">
          <a [routerLink]=" ['./gallery'] ">
            Image Gallery
          </a>
        </li>
      </ul>

    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>