html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: #D3D3D3;
}
/*
ul.menu-container {
	position: absolute;
	right: 1px;
	height: 50px;	
}*/

li.menu-button {

	background-color: #D3D3D3;
	border: 1px #000;
	list-style: none;
	display: inline-block;
	text-align:center;
	cursor: pointer;
}

li.menu-button a:link, a:visited, a:hover {
	color: #000;
	display: block;
	padding: 25px;

}

.image-credit {
	color: #ccc;
	text-align: right;
}